ec2_autoscalinggroup { '{{name}}-asg':
  ensure => {{ensure}},
  region => {{region}},
} ~>

ec2_launchconfiguration { '{{name}}-lc':
  ensure => {{ensure}},
  region => {{region}},
} ~>

ec2_vpc_subnet { '{{name}}-subnet':
  ensure => {{ensure}},
  region => '{{region}}',
} ~>

ec2_vpc { '{{name}}-vpc':
  ensure => {{ensure}},
  region => '{{region}}',
}
