--- 
  http_interactions: 
    - request: 
        method: get
        uri: "https://s3-sa-east-1.amazonaws.com/"
        body: 
          encoding: ASCII-8BIT
          string: ""
        headers: 
          Content-Type: 
            - ""
          X-Amz-Date: 
            - "20150710T075332Z"
          X-Amz-Content-Sha256: 
            - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
          Authorization: 
            - "AWS4-HMAC-SHA256 Credential=AKIAJ4GEOBXN3L7636JA/20150710/sa-east-1/s3/aws4_request, SignedHeaders=host;user-agent;x-amz-content-sha256;x-amz-date, Signature=6e6cc33f3831e26f213172e3b1310074ad24f1fbfddef8e29a1a13b36a54b2a4"
      response: 
        status: 
          code: 200
          message: OK
        headers: 
          X-Amz-Request-Id: 
            - "3FADC20EAC96E12F"
          Content-Type: 
            - application/xml
        body: 
          encoding: UTF-8
          string: |-
            <?xml version="1.0" encoding="UTF-8"?>
            <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>581b620ebf1c731c44355ec98fdcefcc8dc2a150053380200a529715336884e0</ID><DisplayName>systems+aws+risky</DisplayName></Owner><Buckets><Bucket><Name>bchess-qubole-test</Name><CreationDate>2014-10-10T14:29:27.000Z</CreationDate></Bucket><Bucket><Name>bryane-osquery-test</Name><CreationDate>2014-09-30T01:42:01.000Z</CreationDate></Bucket><Bucket><Name>smoy-pwais-test</Name><CreationDate>2014-08-25T21:49:47.000Z</CreationDate></Bucket><Bucket><Name>yelp-cloudtrail-local-bucket</Name><CreationDate>2014-10-20T19:11:51.000Z</CreationDate></Bucket><Bucket><Name>yelp-databricks-test</Name><CreationDate>2014-12-17T18:36:54.000Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>
      recorded_at: "Fri, 10 Jul 2015 07:53:34 GMT"
  recorded_with: "VCR 2.9.3"